.header__nav {
  margin: 30px 24px 30px 24px;
}
.header__logo {
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.header__logo__img {
  width: 105px;
  height: 49px;
  color: var(--main-text-color);
}
.burger__box {
  position: relative;
  width: 24px;
  height: 16px;
}
.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.header__menu {
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: var(--background-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.header__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header__menu__item,
.header__menu__order {
  font-size: calc(1rem + 1px);
  font-family: var(--main-font-family), sans-serif;
  font-weight: 500;
  color: var(--menu-text-color);
  z-index: 100;
}

.header__menu__order {
  padding: 14px 20px;
  font-size: calc(1rem - 2px);
  margin-top: 30px;

  background-color: var(--main-text-color);
  .header__menu__order__text {
    color: var(--menu-box-text-color);
    width: 190px;
    height: 43px;
  }
}
