@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
/* Chivo */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Istok Web */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-main-color: #c8d1af;
  --main-text-color: #325956;
  --menu-text-color: rgba(87, 114, 112, 0.92);
  --menu-box-text-color: rgb(241, 230, 225);
  --main-font-family: "Chivo";
  --second-font-family: "Istok Web";
  --transition-speed: 0.3s;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: var(--main-font-family), sans-serif;
  color: var(--main-text-color);
  background-color: var(--background-main-color);
}
body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 20rem;
  margin-inline: auto;
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}
