.header__nav {
  position: relative;
  padding: 30px 24px 30px clamp(24px, 10vw, 200px);
}
.header__logo {
  display: flex;
  justify-content: space-between;
}
.header__logo__img {
  width: 105px;
  height: 49px;
  color: var(--main-text-color);
}
.burger__box {
  position: relative;
  align-self: center;
  width: 24px;
  height: 16px;
}
.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
  transition: var(--transition-speed);
  transform-origin: center;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.header__menu {
  padding-top: 30px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  z-index: 99;
  background-color: var(--background-main-color);
  overflow-x: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
}
.header__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header__menu__item,
.header__menu__order {
  font-size: calc(1rem + 1px);
  font-family: var(--main-font-family), sans-serif;
  font-weight: 500;
  color: var(--menu-text-color);
  z-index: 100;
}

.header__menu__order {
  padding: 14px 20px;
  font-size: calc(1rem - 2px);
  margin-top: 30px;

  background-color: var(--main-text-color);
  .header__menu__order__text {
    color: var(--menu-box-text-color);
    width: 190px;
    height: 43px;
  }
}

.header__menu.is-open {
  display: flex;
}
.burger__box.is-active .burger__line:nth-child(1) {
  transform:translateY(350%) rotate(45deg);
}

.burger__box.is-active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger__box.is-active .burger__line:nth-child(3) {
  transform: translateY(-350%) rotate(-45deg);
}
