.header__nav {
    margin: 30px 24px 30px 24px;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    width: 105px;
    height: 49px;
    color: var(--main-text-color);
}
.burger__box {
    position: relative;
    width: 24px;
    height: 16px;
}
.burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-text-color)
}
.burger__line:nth-child(1) {
    top: 0;
}
.burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line:nth-child(3) {
    bottom: 0;
}