.header__nav {
  padding: 30px var(--padding-global);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: space-between;
}
.header__logo__img {
  width: 105px;
  height: 49px;
  color: var(--main-text-color);
}
.burger__box {
  position: relative;
  align-self: center;
  width: 24px;
  height: 16px;
  display: none;
}
.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
  transition: var(--transition-speed);
  transform-origin: center;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.header__menu {
  display: flex;
}

.header__menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(20px, 2vw);
}
.header__menu__item,
.header__order {
  font-size: calc(1rem + 1px);
  font-family: var(--main-font-family), sans-serif;
  font-weight: 500;
  color: var(--menu-text-color);
}

.header__order {
  padding: 14px 20px;
  font-size: calc(1rem - 2px);

  background-color: var(--main-text-color);
  .header__order__text {
    color: var(--menu-box-text-color);
    width: 190px;
    height: 43px;
  }
}

@media (max-width: 980px) {
  .header__nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .header__menu {
    padding-top: 30px;
    overflow-x: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .header__menu__list {
    flex-direction: column;
    gap: 20px;
  }
  .burger__box {
    display: block;
  }
  .header__nav {
    display: block;
    gap: 0px;
  }
  .header__order {
    
    max-width: 190px;
    margin: 0 auto;
    margin-top: 30px;
    display: none;
  }
}

.header__menu.is-open {
  display: flex;
}
.header__order.is-open {
  display: block;
}
.header__nav.is-open {
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}
.burger__box.is-active .burger__line:nth-child(1) {
  transform: translateY(350%) rotate(45deg);
}

.burger__box.is-active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger__box.is-active .burger__line:nth-child(3) {
  transform: translateY(-350%) rotate(-45deg);
}
