@import "global.css";
@import "global.header.nav.css";
@import "global.header.hero.css";

.site-header {
  background-image: url("../img/cover.png");
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;

}
.site-header.is-open {
  background-image: none;
}